In [12]:
import pandas as pd
import math
df=pd.read_csv('KNNData.csv')
df
testin=[150,57]

In [15]:
def distance(df,test_h,test_w):
    dist=[]
    for i in range(len(df)):
        dist.append(math.sqrt((df.iloc[i,0]-test_h)**2)+(((df.iloc[i,1])-test_w)**2))
    df['distance']=dist
    df=df.sort_values(['distance'])
    df.reset_index(drop=True,inplace=True)
    return df

In [16]:
df2=distance(df,170,57)
df2

   Sno  Height  Weight        Class  distance
0    1     167      51  Underweight   12269.0
1    7     169      58       Normal   12707.0
2    9     170      55       Normal   12930.0
3    5     172      65       Normal   13390.0
4    8     173      57       Normal   13618.0
5    4     173      64       Normal   13622.0
6    6     174      56  Underweight   13853.0
7   10     176      59      Normal    14321.0
8    3     176      69       Normal   14328.0
9    2     182      62       Normal   15793.0

In [18]:
k=3
df1=df2.head(k)
df1

   Sno  Height  Weight        Class  distance
0    1     167      51  Underweight   12269.0
1    7     169      58       Normal   12707.0
2    9     170      55       Normal   12930.0

In [21]:
nor=0
wei=0
for i in range (len(df1)):
    if(df1['Class'][i]=="Normal"):
        nor=nor+1
    else:
        wei=+1

if(nor>wei):
    print("Test Instance classified as Normal")
else:
     print("Test Instance classified as UnderWeight")

Test Instance classified as Normal

In [22]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
df=pd.read_csv('KNNData.csv')
df

   Sno  Height  Weight        Class
0    1     167      51  Underweight
1    2     182      62       Normal
2    3     176      69       Normal
3    4     173      64       Normal
4    5     172      65       Normal
5    6     174      56  Underweight
6    7     169      58       Normal
7    8     173      57       Normal
8    9     170      55       Normal
9   10     176      59      Normal

In [28]:
X1=df.drop(['Class'],axis=1)
X1
X=X1.drop(['Sno'],axis=1)
Y=df['Class']
Y

0    Underweight
1         Normal
2         Normal
3         Normal
4         Normal
5    Underweight
6         Normal
7         Normal
8         Normal
9        Normal
Name: Class, dtype: object

In [29]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2)

In [30]:
k=3
knn=KNeighborsClassifier(k)

In [31]:
knn.fit(xtrain,ytrain)

KNeighborsClassifier(n_neighbors=3)

In [32]:
knn.predict(xtest)

C:\Users\aksha\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

array(['Normal', 'Normal'], dtype=object)

In [36]:
def distance(df,test_h,test_w):
    dist=[]
    for i in range(len(df)):
        dist.append(math.sqrt((df.iloc[i,0]-test_h)**2)+((df.iloc[i,1]-test_w)**2))
        df['distance']=dist
        df=df.sort_values(['distance'])
        df.reset_index(drop=true,inplace=True)
    return df

In [39]:
##centroid

import pandas as pd
import math
df=pd.read_csv('KNNData.csv')

In [40]:
def distance(x1,x2,y1,y2):
    return math.sqrt((x1-x2)**2+(y1-y2)**2)

In [45]:
def centroid(df,x2,y2):
    a=df.groupby(['Class']).mean()
    print(a)
    n=distance(a['Height'][0],x2,a['Weight'][0],y2)
    w=distance(a['Height'][1],x2,a['Weight'][1],y2)
    
    if(n>w):
        print("The class Normal")
    else:
        print("The class UnderWeight")

In [46]:
centroid(df, 170, 57)

                   Sno      Height     Weight
Class
Normal        5.428571  173.571429  61.428571
Normal       10.000000  176.000000  59.000000
Underweight   3.500000  170.500000  53.500000
The class UnderWeight