In [1]:
import pandas as pd
col=["id","first","last","gender","Marks","selected"]
df=pd.read_csv("SampleDB.csv",usecols=col)
print(df)

   id        first       last  gender  Marks  selected
0   1        Leone    Debrick  Female     50      True
1   2       Romola  Phinnessy  Female     60     False
2   3         Geri      Prium    Male     65     False
3   4        Sandy   Doveston  Female     95     False
4   5      Jacenta     Jansik  Female     31      True
5   6  Diane-marie   Medhurst  Female     45      True
6   7       Austen       Pool    Male     45      True
7   8        Vanya    Teffrey    Male     70     False
8   9     Giordano      Elloy    Male     36     False
9  10       Rozele    Fawcett  Female     50     False

In [8]:
from sklearn import preprocessing
df_gender_encode=LabelEncoder()
df.gender=df_gender_encode.fit_transform(df.gender)
print(df)

   id        first       last  gender  Marks  selected
0   1        Leone    Debrick       0     50      True
1   2       Romola  Phinnessy       0     60     False
2   3         Geri      Prium       1     65     False
3   4        Sandy   Doveston       0     95     False
4   5      Jacenta     Jansik       0     31      True
5   6  Diane-marie   Medhurst       0     45      True
6   7       Austen       Pool       1     45      True
7   8        Vanya    Teffrey       1     70     False
8   9     Giordano      Elloy       1     36     False
9  10       Rozele    Fawcett       0     50     False

In [9]:
df.Marks=preprocessing.scale(df.Marks)
scaled_df=preprocessing.scale(df.Marks)
print(df)

   id        first       last  gender     Marks  selected
0   1        Leone    Debrick       0 -0.265401      True
1   2       Romola  Phinnessy       0  0.299282     False
2   3         Geri      Prium       1  0.581624     False
3   4        Sandy   Doveston       0  2.275674     False
4   5      Jacenta     Jansik       0 -1.338300      True
5   6  Diane-marie   Medhurst       0 -0.547743      True
6   7       Austen       Pool       1 -0.547743      True
7   8        Vanya    Teffrey       1  0.863966     False
8   9     Giordano      Elloy       1 -1.055958     False
9  10       Rozele    Fawcett       0 -0.265401     False

In [10]:
newarr=scaled_df.reshape(-1,1)
scaled_df_bin=preprocessing.Binarizer(threshold=0.5).transform(newarr)
df['Marks']=scaled_df_bin
print(df)

   id        first       last  gender  Marks  selected
0   1        Leone    Debrick       0    0.0      True
1   2       Romola  Phinnessy       0    0.0     False
2   3         Geri      Prium       1    1.0     False
3   4        Sandy   Doveston       0    1.0     False
4   5      Jacenta     Jansik       0    0.0      True
5   6  Diane-marie   Medhurst       0    0.0      True
6   7       Austen       Pool       1    0.0      True
7   8        Vanya    Teffrey       1    1.0     False
8   9     Giordano      Elloy       1    0.0     False
9  10       Rozele    Fawcett       0    0.0     False

In [19]:
import pandas as pd
df_duplicate=pd.concat([df]*2,ignore_index=True)
print("\n Adding Duplicate \n",df_duplicate)
df_duplicates_removed=pd.DataFrame.drop_duplicates(df_duplicate)
print("\nRemoving Duplicate \n",df_duplicates_removed)

 Adding Duplicate
     id        first       last  gender  Marks  selected
0    1        Leone    Debrick       0    0.0      True
1    2       Romola  Phinnessy       0    0.0     False
2    3         Geri      Prium       1    1.0     False
3    4        Sandy   Doveston       0    1.0     False
4    5      Jacenta     Jansik       0    0.0      True
5    6  Diane-marie   Medhurst       0    0.0      True
6    7       Austen       Pool       1    0.0      True
7    8        Vanya    Teffrey       1    1.0     False
8    9     Giordano      Elloy       1    0.0     False
9   10       Rozele    Fawcett       0    0.0     False
10   1        Leone    Debrick       0    0.0      True
11   2       Romola  Phinnessy       0    0.0     False
12   3         Geri      Prium       1    1.0     False
13   4        Sandy   Doveston       0    1.0     False
14   5      Jacenta     Jansik       0    0.0      True
15   6  Diane-marie   Medhurst       0    0.0      True
16   7       Austen       Pool       1    0.0      True
17   8        Vanya    Teffrey       1    1.0     False
18   9     Giordano      Elloy       1    0.0     False
19  10       Rozele    Fawcett       0    0.0     False

Removing Duplicate
    id        first       last  gender  Marks  selected
0   1        Leone    Debrick       0    0.0      True
1   2       Romola  Phinnessy       0    0.0     False
2   3         Geri      Prium       1    1.0     False
3   4        Sandy   Doveston       0    1.0     False
4   5      Jacenta     Jansik       0    0.0      True
5   6  Diane-marie   Medhurst       0    0.0      True
6   7       Austen       Pool       1    0.0      True
7   8        Vanya    Teffrey       1    1.0     False
8   9     Giordano      Elloy       1    0.0     False
9  10       Rozele    Fawcett       0    0.0     False