In [1]:
import pandas as pd
df=pd.DataFrame({
    'm1':[50,'A',60,'A',80],
    'm2':[60,'A','60','A',80],
    'm3':[50,70,'A','A',60],
    'm4':[60,'A','A','A',60],
    'm5':['A','A','A',10,20]
})
df=df.apply(pd.to_numeric,errors='coerce')
print(df)

     m1    m2    m3    m4    m5
0  50.0  60.0  50.0  60.0   NaN
1   NaN   NaN  70.0   NaN   NaN
2  60.0  60.0   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN  10.0
4  80.0  80.0  60.0  60.0  20.0

In [4]:
print('DataFrame')
df['m5']=df['m5'].fillna(0)
print(df)
print("Making m5 Nan as 0")

df1=df.copy()
df1['m2'].fillna(df1['m2'].mean(),inplace=True)
print(df1)
print("Making m5 naN as mean ")

df2=df.copy()
df1['m3'].fillna(df1['m2'].median(),inplace=True)
print(df2)

df=df.dropna(axis=1)
print(df)
print("Dropping all the columns having NaN")

DataFrame
     m1    m2    m3    m4    m5
0  50.0  60.0  50.0  60.0   0.0
1   NaN   NaN  70.0   NaN   0.0
2  60.0  60.0   NaN   NaN   0.0
3   NaN   NaN   NaN   NaN  10.0
4  80.0  80.0  60.0  60.0  20.0
Making m5 Nan as 0
     m1         m2    m3    m4    m5
0  50.0  60.000000  50.0  60.0   0.0
1   NaN  66.666667  70.0   NaN   0.0
2  60.0  60.000000   NaN   NaN   0.0
3   NaN  66.666667   NaN   NaN  10.0
4  80.0  80.000000  60.0  60.0  20.0
Making m5 naN as mean
     m1    m2    m3    m4    m5
0  50.0  60.0  50.0  60.0   0.0
1   NaN   NaN  70.0   NaN   0.0
2  60.0  60.0   NaN   NaN   0.0
3   NaN   NaN   NaN   NaN  10.0
4  80.0  80.0  60.0  60.0  20.0
     m5
0   0.0
1   0.0
2   0.0
3  10.0
4  20.0
Dropping all the columns having NaN