In [2]:
import pandas as pd
col=["id","first","gender","Marks","selected"]
df=pd.read_csv("SampleDB.csv",usecols=col)
print(df)

   id        first  gender  Marks  selected
0   1        Leone  Female     50      True
1   2       Romola  Female     60     False
2   3         Geri    Male     65     False
3   4        Sandy  Female     95     False
4   5      Jacenta  Female     31      True
5   6  Diane-marie  Female     45      True
6   7       Austen    Male     45      True
7   8        Vanya    Male     70     False
8   9     Giordano    Male     36     False
9  10       Rozele  Female     50     False

In [9]:
mea=df['Marks'].mean()
print("Mean\t"+str(mea))

Mean	54.7

In [8]:
su=df['Marks'].sum()
print("Sum\t" +str(su))

Sum	547

In [20]:
ma=df['Marks'].max()
print("Max Mark \t",ma)

Max Mark 	 95

In [13]:
print("Min Mark \t"+str(df['Marks'].min()))

Min Mark 	31

In [15]:
print("Count of Mark \t"+str(df['Marks'].count()))
print("Median of Mark \t"+str(df['Marks'].median()))
print("Standard Deviation of Mark\t"+str(df['Marks'].std()))
print("Variance of Mark \t"+str(df['Marks'].var()))

Count of Mark 	10
Median of Mark 	50.0
Standard Deviation of Mark	18.666964283341724
Variance of Mark 	348.4555555555555

In [17]:
print(df.shape)
print(df.head(5))
print(df.describe)

(10, 5)
   id    first  gender  Marks  selected
0   1    Leone  Female     50      True
1   2   Romola  Female     60     False
2   3     Geri    Male     65     False
3   4    Sandy  Female     95     False
4   5  Jacenta  Female     31      True
<bound method NDFrame.describe of    id        first  gender  Marks  selected
0   1        Leone  Female     50      True
1   2       Romola  Female     60     False
2   3         Geri    Male     65     False
3   4        Sandy  Female     95     False
4   5      Jacenta  Female     31      True
5   6  Diane-marie  Female     45      True
6   7       Austen    Male     45      True
7   8        Vanya    Male     70     False
8   9     Giordano    Male     36     False
9  10       Rozele  Female     50     False>